@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=League+Spartan:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.info-gradient {
  background: linear-gradient(150deg, #000 0%, rgba(0, 0, 0, 0.00) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto
  }
}

@layer utilities {
  .info-text {
    @apply font-inter text-[#1D1D1D] text-xl;
  }
}

